APPLICATION_PORT=8080
POSTGRES_PORT=5433
PGADMIN_PORT=5050

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=digital_bank
DATABASE_USERNAME=digital_bank_user
DATABASE_PASSWORD=digital_bank_password

PGADMIN_DEFAULT_EMAIL=admin@digital-bank.dev
PGADMIN_DEFAULT_PASSWORD=admin123
